[
  {
    "id": "cmpkf2d1p006wmq4aquqpdvmw",
    "videoId": "OWYPDnreDbY",
    "channelId": "UCN_fqUm92uifzkR1ud7vATw",
    "title": "THEY BOMBED A DORM WHILE STUDENTS SLEPT!",
    "description": null,
    "publishedAt": "2026-05-24T23:09:37.000Z",
    "thumbnailPath": "OWYPDnreDbY/OWYPDnreDbY-small.webp",
    "audioPath": "OWYPDnreDbY/OWYPDnreDbY.mp3",
    "subtitlePath": null,
    "watched": false,
    "progress": 0,
    "duration": 4110.2,
    "ignored": false,
    "protected": false,
    "createdAt": "2026-05-24T23:36:36.493Z",
    "channel": {
      "id": "cmnurz6rd008loh4apuroqgs4",
      "channelId": "UCN_fqUm92uifzkR1ud7vATw",
      "title": "DDGeopolitics",
      "order": 142,
      "ignoreScrapeDone": true,
      "createdAt": "2026-04-11T20:16:20.473Z"
    },
    "author": "DDGeopolitics"
  },
  {
    "id": "cmpkdyf0o006vmq4anvn9oz9d",
    "videoId": "8wT-QYm0zlg",
    "channelId": "UC1LpsuAUaKoMzzJSEt5WImw",
    "title": "How Things Fell Apart for Germany’s Nixdorf Computer",
    "description": null,
    "publishedAt": "2026-05-24T23:00:39.000Z",
    "thumbnailPath": "8wT-QYm0zlg/8wT-QYm0zlg-small.webp",
    "audioPath": "8wT-QYm0zlg/8wT-QYm0zlg.mp3",
    "subtitlePath": null,
    "watched": false,
    "progress": 0,
    "duration": 1941.7,
    "ignored": false,
    "protected": false,
    "createdAt": "2026-05-24T23:05:32.808Z",
    "channel": {
      "id": "cmnurw7z7003poh4a71z1scxk",
      "channelId": "UC1LpsuAUaKoMzzJSEt5WImw",
      "title": "Asianometry",
      "order": 9,
      "ignoreScrapeDone": true,
      "createdAt": "2026-04-11T20:14:02.084Z"
    },
    "author": "Asianometry"
  },
  {
    "id": "cmpkb53z9006omq4aj964lnxb",
    "videoId": "OHcBZwzq4Fc",
    "channelId": "UCad3S7ZdFxSjF9N1VRcD2Ag",
    "title": "Trump Defends Takaichi After Xi Calls Her Out by Name",
    "description": null,
    "publishedAt": "2026-05-24T21:41:02.000Z",
    "thumbnailPath": "OHcBZwzq4Fc/OHcBZwzq4Fc-small.webp",
    "audioPath": "OHcBZwzq4Fc/OHcBZwzq4Fc.mp3",
    "subtitlePath": null,
    "watched": false,
    "progress": 0,
    "duration": 9129,
    "ignored": false,
    "protected": false,
    "createdAt": "2026-05-24T21:46:46.245Z",
    "channel": {
      "id": "cmnus0ywo00b3oh4a1mgy0ldt",
      "channelId": "UCad3S7ZdFxSjF9N1VRcD2Ag",
      "title": "randomyoko2",
      "order": 225,
      "ignoreScrapeDone": true,
      "createdAt": "2026-04-11T20:17:43.609Z"
    },
    "author": "randomyoko2"
  },
  {
    "id": "cmpk8l2nb0003mq4aqvsbt8q8",
    "videoId": "wwL2omn1mvA",
    "channelId": "UC6cF_2V1vNKx-nFdGd8cOcA",
    "title": "Russia Oreshnik Strike. Necons Furious Over Possible Iran Deal. Zelensky Rejects MERZ EU Offer",
    "description": null,
    "publishedAt": "2026-05-24T20:16:46.000Z",
    "thumbnailPath": "wwL2omn1mvA/wwL2omn1mvA-small.webp",
    "audioPath": "wwL2omn1mvA/wwL2omn1mvA.mp3",
    "subtitlePath": null,
    "watched": false,
    "progress": 2019,
    "duration": 3471.6,
    "ignored": false,
    "protected": false,
    "createdAt": "2026-05-24T20:35:12.168Z",
    "channel": {
      "id": "cmnurwsix004hoh4a3eqzejbp",
      "channelId": "UC6cF_2V1vNKx-nFdGd8cOcA",
      "title": "Alex Christoforou",
      "order": 35,
      "ignoreScrapeDone": true,
      "createdAt": "2026-04-11T20:14:28.714Z"
    },
    "author": "Alex Christoforou"
  },
  {
    "id": "cmpk8qu7q0013mq4as0bxlgvp",
    "videoId": "kmsH7hYF8Vc",
    "channelId": "UCkK9UDm_ZNrq_rIXCz3xCGA",
    "title": "\"Rust is Going to Save Us\" Says Linux Kernel Number 2 Guy",
    "description": null,
    "publishedAt": "2026-05-24T20:11:12.000Z",
    "thumbnailPath": "kmsH7hYF8Vc/kmsH7hYF8Vc-small.webp",
    "audioPath": "kmsH7hYF8Vc/kmsH7hYF8Vc.mp3",
    "subtitlePath": null,
    "watched": false,
    "progress": 0,
    "duration": 1331.5,
    "ignored": false,
    "protected": false,
    "createdAt": "2026-05-24T20:39:41.174Z",
    "channel": {
      "id": "cmnus27vm00cuoh4a1znrwtki",
      "channelId": "UCkK9UDm_ZNrq_rIXCz3xCGA",
      "title": "The Lunduke Journal",
      "order": 284,
      "ignoreScrapeDone": true,
      "createdAt": "2026-04-11T20:18:41.890Z"
    },
    "author": "The Lunduke Journal"
  }
]